/* police form */
body,label {font-family: Arial, Helvetica, sans-serif;}

/* centrage du titre */
h1{
    margin-left: 45%;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
input[type='submit'] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
input[type='submit'] {
  opacity: 0.9;
}

/* Add padding to containers */
.container {
  padding: 16px;
  margin: auto;
  border: 3px solid #f1f1f1;
}


